<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container col-xs-offset-4 col-xs-4">
        @if (!User.Identity.IsAuthenticated)
        {
            <a class="btn btn-primary btn-lg btn-block" href="~/Auth/Login.cshtml">Sign In</a>
            <a class="btn btn-primary btn-lg btn-block" href="~/Auth/Registration.cshtml">Registration</a>
            <a class="btn btn-primary btn-lg btn-block" href="~/Users/ShowUsers.cshtml">Visit as guest</a>
        }
        else
        {
            <a class="btn btn-primary btn-lg btn-block" href="~/Users/ShowUsers.cshtml">Show users</a>
        }
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
