@using Epam.Forums.WebUI.Models;
@using Epam.Forums.Entities;
<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    @{
        bool loginError = false;
        bool passwordConfimError = false;
    }
    @if (IsPost)
    {

        Validation.Add("login", Validator.Regex(@"^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$", "Enter correct email"));

        if (Validation.IsValid())
        {
            var login = Request["login"];
            var name = Request["name"];
            var password = Request["password"];
            var confirmPassword = Request["confirmPassword"];

            if (string.IsNullOrWhiteSpace(login) || string.IsNullOrWhiteSpace(password) ||
                string.IsNullOrWhiteSpace(confirmPassword))
            {
                Response.SetStatus(HttpStatusCode.BadRequest);
                return;
            }

            if (!password.Equals(confirmPassword))
            {
                passwordConfimError = true;
            }
            else if (Common.UserBll.CanRegisterUser(login))
            {
                Common.UserBll.AddUser(new User { Login = login, Password = password, Name = name });
                var returnUrl = Request["ReturnUrl"];
                if (string.IsNullOrWhiteSpace(returnUrl))
                {
                    returnUrl = "~";
                }
                Response.Redirect(returnUrl);
                return;
            }
            else
            {
                loginError = true;
            }
        }
    }
     <ul class=" alert alert-danger">
     @Html.ValidationSummary()
     </ul>
    <div class="container col-xs-offset-4 col-xs-4">
        @if (loginError)
        {
            <div class="alert alert-danger" style="margin-top: 60px">
                Login is already used
            </div>
        }
        else if (passwordConfimError)
        {
            <div class="alert alert-danger" style="margin-top: 60px">
                Passwords do not match
            </div>
        }
        
        <form class="form-group form-login" action="~/Auth/Registration" method="post" role="form">
            <div class="form-group">
                <label class="control-label" for="name">Name</label>
                <input type="text" autocomplete="off" class="form-control" id="name" name="name" placeholder="Enter name" />
            </div>
            <div class="form-group">
                <label class="control-label" for="login">Login</label>
                <input type="text" autocomplete="off" class="form-control" id="login" name="login" placeholder="Enter login" />
                @Html.ValidationMessage("login")
            </div>
            <div class="form-group">
                <label class="control-label" for="password">Password</label>
                <input type="password" autocomplete="off" class="form-control" id="password" name="password" placeholder="Enter password" />
            </div>
            <div class="form-group">
                <label class="control-label" for="confirmPassword">Confirm password</label>
                <input type="password" autocomplete="off" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Enter password again" />
            </div>
            <button type="submit" class="btn btn-success">Registration</button>
            <button onclick="goBack()" class="btn btn-primary">Go Back</button>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Include/Scripts.js"></script>
</body>
</html>
